.gray-box{
    width: 400px;
    height: 600px;
    background-color: #e8e3e3;
    border-radius: 8px;
}

.todo-tag{
    background-color: #FAC3FF;
    color: black;
    border-radius: 4px;
    width: fit-content;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 4px 8px;
}

.in-progress-tag{
    background-color: #85D9F1;
    color: black;
    border-radius: 4px;
    width: fit-content;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 4px 8px;
}

.completed-tag{
    background-color: #A2D6A0;
    color: black;
    border-radius: 4px;
    width: fit-content;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 4px 8px;
}

.card{
    width: 100%;
    height: 110px !important;
    border-radius: 12px !important;
}

.card-category-text{
    font-size: 12px !important;
    font-weight: 600;
}
