.text-purple {
    color: purple;
  }
  
  .purple {
    color: purple;
  }

  .black {
    color: black;
  }
  .gray{
    color: darkgray;
  }

  .red{
    color: red !important;
  }

  .btn.black-btn {
    background-color: black !important;
    color: white !important;
  }

  .gray-btn {
    background-color: #e8e3e3 !important;
    color: black !important;
  }

  .gray-btn:hover {
    background-color: #c0b9b9 !important;
    color: black !important;
  }
  .btn.black-btn:hover {
    background-color: #333 !important;
    color: white !important;
  }
  .fw-600 {
    font-weight: 600 !important;
  }

  .purple-btn {
    background-color: #7B1984 !important;
    color: white !important;
    border-radius: 41px !important;
    width: fit-content;
    padding: 4px 28px !important;
    height: 48px;
    border: none !important;
  }

  .purple-btn:hover {
    background-color: #7e0057 !important;
    color: white !important;
  }

  .white-btn {
    background-color: #fff !important;
    color: #333 !important;
    border-radius: 41px !important;
    width: fit-content;
    padding: 4px 28px !important;
    height: 48px;
    font-weight: 600 !important;
    border: 1px solid #333 !important
  }

  .actions-btn {
    background-color: #fff !important;
    color: #333 !important;
    border: none !important;
  }

  @media (max-width: 768px) {
    .small-screen-hide {
      display: none !important;
    }
  }
  