.modal-footer{
    background-color: rgb(246, 243, 243);
}
.category-btn{
    width: 80px !important;
    height: 38px !important;
    padding: 0 !important;
    font-size: 14px !important;
}

.category-btn.active{
    background-color: purple !important;
    color: white !important;
}
.activity-log-item{
    margin-bottom: 10px !important;
}
.log-timestamp{
    color: gray !important;
}
.activity-log-container{
    max-height: 300px;
    overflow-y: auto;
}


.edit-modal {
    min-width: 1050px !important;
    min-height: 570px !important;
}

@media (max-width: 768px) {
    .edit-modal {
        min-width: 100% !important;
        min-height: auto !important;
    }
}
